.footer-fixed{
  padding: 0;
  position: fixed;
  bottom:0;
  width: 100%;
  overflow:hidden;
  box-shadow: 0px -4px 5px #808080;
}

.row {
  margin-bottom: 0;
}
a {
  display:block;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #ED1868;
  font-family: 'Heebo' , sans-serif;
}

.navbut{
  text-align:center;
  background-color: #fff;
  color: #F00E67;
}

i {
  color: #009bee !important;
  margin: 5px auto;
}
.is-active {
  border-top: 3px solid #F00E67;
}

