<footer class="footer-fixed">
      <div class="container-fluid">
        <div class="row navbut">
          <div class="col s3 l3">
            <a (click)="navcomp('Recommended')" routerLink="/recommended" [routerLinkActive]="['is-active']"><i class="material-icons">star</i><br>Recommended</a>
          </div>
          <div class="col s3 l3">
              <a (click)="navcomp('Liked-me')" routerLink="/like-me" [routerLinkActive]="['is-active']"><i class="material-icons">favorite</i><br>Liked Me</a>
            </div>
            <div class="col s3 l3">
                <a (click)="navcomp('Connection')" routerLink="/connection" [routerLinkActive]="['is-active']"> <i class="material-icons">compare_arrows</i><br>Connection</a>
              </div>
              <div class="col s3 l3">
                  <a (click)="navcomp('Profile')" routerLink="/view-profile" [routerLinkActive]="['is-active']"> <i class="material-icons">person</i><br>Profile</a>
                </div>
        </div>
      </div>
  </footer>
