<div class="container-fluid">
  <app-navbar></app-navbar>
  <div style="font-family:'Heebo', sans-serif;" class="container">
    <div class="row">
      <div style="text-align:center">
          <div class="carousel carousel-slider" data-indicators="true">
              <div class="carousel-fixed-item">
                <div class="container">
                  <span style="font-size:1rem;" class="white-text">450XXXX</span>
                </div>
              </div>
              <div class="carousel-item red lighten-2 white-text" href="#one!">
                <img src="../../assets/pic1.jpg" alt="">
              </div>
              <div class="carousel-item amber darken-2 white-text" href="#two!">
                <div class="container">
                  <h2>Second Slide</h2>
                  <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
              </div>
              <div class="carousel-item green white-text" href="#three!">
                <div class="container">
                  <h2>Third Slide</h2>
                  <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
              </div>
              <div class="carousel-item blue white-text" href="#four!">
                <div class="container">
                  <h2>Fourth Slide</h2>
                  <p class="white-text">Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
              </div>
            </div>
      </div>
      <br><br>
      <div class="col s6 m6 l6">
        <span style="font-size: 1rem">30 | 6'0" | 80Kg</span><br>
        <span>IT Engineer| MBA, B.Tech.</span><br>
        <span>15-20 Lpa  <i class="material-icons prefix">location_on</i>Gurgaon</span><br>
      </div>
      <div style="text-align: right;" class="col s6 m6 l6">
          <span>Religion Caste Gotra</span><br>
          <span>Never Married</span><br>
          <span>Non-Manglik</span><br>
          <span>non-veg</span><br>
        </div>
        </div>
      <div style="text-align:center" class="tab">
        <button id="tab1" class="tablinks" (click)="open('tab1','personal')">About him</button>
        <button id="tab2" class="tablinks" (click)="open('tab2','family')">Family Details</button>
        <button id="tab3" class="tablinks" (click)="open('tab3','preference')">Preference</button>
      </div>
      <div>
        <div id="personal" class="row tabcontent">
          <div class="formtab col s12 m12 l12">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="row">
              <div class="col s4 m4 l4">
                <hr>
              </div>
              <div style="text-align: center; font-size:0.9rem;" class="col s4 m4 l4">
                <h5>Education</h5>
              </div>
              <div class="col s4 m4 l4">
                <hr>
              </div>
              <br><br>
              <div class="col s12 m12 l12">
                <span><b>M.Tech</b> at Techno India NJR institute of tech</span><br>
                <span><b>Under-Grauationd</b> at IITM</span><br>
                <span><b>Other</b> at Polytechnical</span><br>
              </div>
            </div>
            <div class="row">
                <div class="col s4 m4 l4">
                  <hr>
                </div>
                <div style="text-align: center;font-size:0.9rem;" class="col s4 m4 l4">
                  <h5>Carrer</h5>
                </div>
                <div class="col s4 m4 l4">
                  <hr>
                </div>
                <br><br>
                <div class="col s12 m12 l12">
                  <span><b>IT Engineer at </b> Microsoft, Gurgaon ! 15-20LPA</span><br>
                </div>
              </div>
              <div class="col s4 m4 l4">
                  <hr>
                </div>
                <div style="text-align: center;font-size:0.9rem;" class="col s4 m4 l4">
                  <h5>Horoscope</h5>
                </div>
                <div class="col s4 m4 l4">
                  <hr>
                </div>
                <br><br>
                <div style="padding-left:0;" class="col s12 m12 l12">
                  <span><b>Birth Details</b> 2 Jan, 1998, 10:30PM, Udaiour, Rajasthan</span><br>
                  <span>Non-Manglik</span><br>
                </div>
              </div>
          </div>
        </div>


        <div id="family" class="row tabcontent">
          <div class="formtab col s12 m12 l12">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <div class="row">
                <div class="col s4 m4 l4">
                  <hr>
                </div>
                <div style="text-align: center;font-size:0.9rem;" class="col s4 m4 l4">
                  <h5>Parents Details</h5>
                </div>
                <div class="col s4 m4 l4">
                  <hr>
                </div>
                <br><br>
                <div class="col s12 m12 l12">
                  <span><b>Father works at </b> Bank</span><br>
                  <span><b>Mother works at</b> housewife</span><br>
                  <span><b>Parent Status is</b> bohalive</span><br>
                  <span><b>Mother Tounge is</b> hindi - delhi</span><br>
                </div>
              </div>
              <div class="row">
                  <div class="col s4 m4 l4">
                    <hr>
                  </div>
                  <div style="text-align: center;font-size:0.9rem;" class="col s4 m4 l4">
                    <h5>Siblings Details</h5>
                  </div>
                  <div class="col s4 m4 l4">
                    <hr>
                  </div>
                  <br><br>
                  <div class="col s12 m12 l12">
                    <span><b>Has</b> X <b>sister(s) of which</b> X <b>are married</b></span><br>
                    <span><b>Has</b> X <b>brother(s) of which</b> X <b>are married</b></span><br>
                  </div>
                </div>
                <div class="row">
                    <div class="col s4 m4 l4">
                      <hr>
                    </div>
                    <div style="text-align: center;font-size:0.9rem;" class="col s4 m4 l4">
                      <h5>other Details</h5>
                    </div>
                    <div class="col s4 m4 l4">
                      <hr>
                    </div>
                    <br><br>
                    <div class="col s12 m12 l12">
                      <span>Nuclear family <b>based in</b> Delhi <b>with family income of</b>50-55Lpa</span><br>
                      <span><b>Own house at</b> ghfg</span><br>
                    </div>
                  </div>
            </div>
        </div>

        <div id="preference" class="row tabcontent">
          <div class="formtab col s12 m12 l12">
              <div class="row">
                  <div class="col s12 m12 l12">
                    <span><b>Looking for </b> Never married, Non-Manglik, Working/Non-working, veg</span><br>
                    <span><b>Castet</b> Open to all</span><br>
                  </div>
                </div>
          </div>
        </div>

    </div>
    <a style="background-color: #fff; border:1px solid #F00E67; width: 50px; height:50px; padding:12px;border-radius:50%; position: fixed; bottom: 100px; right: 50px;" routerLink="/edit-profile"><i class="material-icons">edit</i></a>
    <app-footer></app-footer>
  </div>
