.btn{
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 44%;
}
i {
  color: #F00E67;
}
.formtab {
  margin:10px 0 10px 0;
  border: 1px solid rgba(185, 185, 185, 0.747) !important;
  padding: 10px 20px 10px 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  border-radius:10px;
  background-color: #f2f2f2;
}
h5{
  display: inline !important;
  margin-left: 5px !important;
}
select {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  height: 3rem;
  margin-top: 40px;
}
.sub-inputs {
  margin: 0 !important;
}
h5{
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  color:#F00E67;
}
p{
  font-family: 'PT Sans', sans-serif;
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  border-radius:36px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 1px;
  margin-right: 1px;
 border: 2px solid #085C95;
 background-color: #fff;
 cursor: pointer;
 padding: 8px;
 transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #085C95;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
}
.row{
  margin-bottom: 40px;
  padding-top: 10px;
}
b{
  color:#057cc8
}
.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: auto;
  right:auto;
  left: 5% !important;
  bottom: 5% !important;
}
.carousel.carousel-slider{
  border-radius:4%;
}
hr {
  border: 1px solid rgba(185, 185, 185, 0.747) !important;
}
.tablinks{
  font-family: 'PT Sans', sans-serif !important;
}
.container-fluid {
  background-color: #fff;
  background: url('../../assets/bg-flower.png');
}
