<div class="container-fluid">
  <div  style="font-family:'Heebo', sans-serif;" class="container">
    <div class="row">
      <div style="margin-top:5%;text-align:center;">
        <img id="ProfilePic" style="border:1px solid #000;border-radius:75px;width:150px;height:150px;" [src]="imgUrl" class="img-fluid">
      </div>
      <div class="file-field input-field col s12 m12 l12">
        <div class="btn">
          <span><i class="material-icons">edit</i></span>
          <input type="file" (change)="fileEvent($event)" id="filedata" name="filedata" required class="form-control-file"  ngModel>
        </div>
      </div>
      <div style="text-align:center">
        <h6>User Id</h6>
      </div>
      <div style="text-align:center" class="tab">
        <button id="tab1" class="tablinks" (click)="open('tab1','personal')">Personal Details</button>
        <button id="tab2" class="tablinks" (click)="open('tab2','family')">Family Details</button>
        <button id="tab3" class="tablinks" (click)="open('tab3','preference')">Preference</button>
      </div>
      <form id="regForm">
        <div id="personal" class="row tabcontent">
          <div class="formtab col s12 m12 l12">
            <i class="material-icons">chat_bubble_outline</i><h5>About</h5><i style="float:right" class="material-icons">edit</i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div style="height:800px !important" class="formtab col s12 m12 l6">
            <i class="material-icons">info</i><h5>Basic Details</h5><i style="float:right" class="material-icons">edit</i>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <label for="">Name</label>
                <input oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Age</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label for="">Marital status</label>
                <input oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Religion</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Height</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Caste</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label for="">Weight (Kg)</label>
                <input oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s12 m12 l12">
                <label for="">Gotra</label>
                <input oninput="this.className = ''" type="text">
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Curent City</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Food Choice</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
            </div>
          </div>
          <div style="height:800px !important" class="formtab col s12 m12 l6">
            <i class="material-icons">school</i><h5>Education</h5><i style="float:right" class="material-icons">edit</i>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <label>Highest Education</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="sub-inputs input-field col s12 m12 l12">
                <input class="sub-inputs" oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Phd</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="sub-inputs input-field col s12 m12 l12">
                <input class="sub-inputs" oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Post Graduation</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="sub-inputs input-field col s12 m12 l12">
                <input class="sub-inputs" oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Under Graduation</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="sub-inputs input-field col s12 m12 l12">
                <input class="sub-inputs" oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s6 m6 l6">
                <label for="">Schooling</label>
                <input oninput="this.className = ''" type="text" value="">
              </div>
              <div class="input-field col s6 m6 l6">
                <label for="">Other</label>
                <input oninput="this.className = ''" type="text" value="">
              </div>
            </div>
          </div>
          <div style="height:500px !important" class="formtab col s12 m12 l6">
            <i class="material-icons">business_center</i><h5>CAREER</h5><i style="float:right" class="material-icons">edit</i>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <label>Occupation</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Organisation</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>City</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
            </div>
          </div>
          <div style="height:500px !important" class="formtab col s12 m12 l6">
            <i class="material-icons">settings_overscan</i><h5>HOROSCOPE</h5><i style="float:right" class="material-icons">edit</i>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <label>Manglik Status</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label for="">Date of Birth</label>
                <input name="" id="" oninput="this.className = ''" type="text" class="datepicker">
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Birth Place</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label for="">Time of Birth</label>
                <input name="" id="" oninput="this.className = ''" type="text" class="timepicker">
              </div>
            </div>
          </div>
          <div class="formtab col s12 m12 l12">
            <i class="material-icons">person</i><h5>CONTACT</h5><i style="float:right" class="material-icons">edit</i>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                  <i class="material-icons prefix">email</i>
                <label>Email</label>
                <input oninput="this.className = ''" type="text">
              </div>
              <div class="col s12 m12 l12">

                  <i class="material-icons prefix">phone</i>
                <label style="margin-left: 5px !important;">Phone</label>
              </div>
              <div class="input-field col s12 m12 l6">
                <label>Mobile</label>
                <input oninput="this.className = ''" type="text">
              </div>
              <div class="input-field col s12 m12 l6">
                <label>Whatsaap</label>
                <input oninput="this.className = ''" type="text">
              </div>
              <div class="col s12 m12 l12">
                  <i class="material-icons prefix">location_on</i>
                <label style="margin-left: 5px !important;">Address</label>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Current Address</label>
                <input oninput="this.className = ''" type="text">
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Permanent Address</label>
                <input oninput="this.className = ''" type="text">
              </div>
            </div>
          </div>
        </div>

        <div id="family" class="row tabcontent">
          <div class="formtab col s12 m12 l12">
            <i class="material-icons">chat_bubble_outline</i><h5>About Family</h5><i style="float:right" class="material-icons">edit</i>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
          <div class="formtab col s12 m12 l12">
            <i class="material-icons">people_outline</i><h5>Family Details</h5><i style="float:right" class="material-icons">edit</i>
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <label>Father's Occupation</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Mother's Occupation</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Parent's Status</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Family income</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Family Based in</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Mother Tounge</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Family Type</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Sister Married</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Sister Unmarried</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Brother Married</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s6 m6 l6">
                <label>Brother Unmarried</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
              <div class="input-field col s12 m12 l12">
                <label>Locality/Address</label>
                <input oninput="this.className = ''" type="text">
              </div>
              <div class="input-field col s12 m12 l12">
                <label>House Type</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div id="preference" class="row tabcontent">
          <div class="formtab col s12 m12 l12">
            <i class="material-icons">settings_overscan</i><h5>Preference</h5><i style="float:right" class="material-icons">edit</i>
            <div class="column">
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <label>Matital Status</label>
                  <select class="browser-default">
                    <option value="" disabled selected>data</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="input-field col s12 m12 l12">
                  <label>Manglik Status</label>
                  <select class="browser-default">
                    <option value="" disabled selected>data</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="input-field col s12 m12 l12">
                  <label for="">Caste</label>
                  <input oninput="this.className = ''" type="text" value="">
                </div>
                <div class="input-field col s12 m12 l12">
                  <label>Food Choice</label>
                  <select class="browser-default">
                    <option value="" disabled selected>data</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
                <div class="input-field col s12 m12 l12">
                  <label>Working/Non-Working</label>
                  <select class="browser-default">
                    <option value="" disabled selected>data</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
