.btn{
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 44%;
}
i {
  color: #F00E67;
}
.formtab {
  margin:10px 0 10px 0;
  padding: 10px 20px 10px 20px;
  border-radius:10px;
  background-color: #f2f2f2;
  border: 5px solid rgba(255, 255, 255, 0.14) !important;
  font-family: 'PT Sans', sans-serif;
}
h5{
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  display: inline !important;
  margin-left: 5px !important;
  color: #333333;
}
select:focus{
  outline: none;
}
select {
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #a0a0a0;
  height: 3rem;
  margin-top: 40px;
}
.sub-inputs {
  margin: 0 !important;
}
input{
  color: #58595B;
  font-family: 'Heebo', sans-serif;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border: none;
  border-bottom: 1px solid #057cc8;
}

p{
  font-family: 'Heebo', sans-serif;
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  border-radius:36px;
  margin-bottom: 0;
  font-size: 1rem;
  margin-left: 1px;
  margin-right: 1px;
 border: 2px solid #085C95;
 background-color: #fff;
 cursor: pointer;
 padding: 8px;
 transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
.tablinks{
  font-family: 'PT Sans', sans-serif !important;
}


/* Create an active/current tablink class */
.tab button.active {
  background-color: #085C95;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
}
label{
  color: #057cc8;
  font-family: 'PT Sans', sans-serif;
}
.container-fluid {
  background-color: #fff;
  background: url('../../assets/bg-flower.png');
}
