<!--<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo center">{{compo}}</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile">
          <li><img class="logo" src="../../assets/logo.png"></li>
        </ul>
      </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Work</a></li>
    <li><a href="badges.html">About us</a></li>
  </ul>-->
