.card
{
  box-shadow: none;
  border-radius: none;
  border-radius: 8px;
  background-color: #f2f2f2;
  color: rgb(65, 64, 64);
  padding: 0px !important;
}
.card-content{
  margin-top: 65px;
  padding: 0px !important;
}
button {
  width:100%;
  text-align:center;
}
i {
  color:#F00E67;
}
.container-fluid {
  background-color: #fff;
  background: url('../../assets/bg-flower.png');
}
