<div class="container-fluid">
    <app-navbar></app-navbar>
    <div  style="font-family:'Heebo', sans-serif;" class="container">
      <br>
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <div class="container">
                <div style="margin-bottom: 0;" class="row">
                  <div class="col s4 l4 m4">
                    <img id="ProfilePic" style="margin-top: -50px; border:1px solid #F00E67;border-radius:50%;width:80%;height:80%;" src="https://www.sap.com/dam/application/shared/icons/blog-mr.png" class="img-fluid">
                    <h6><b>450XXX</b></h6>
                    <h6>IT hhjg | MBA | 15-20 LPA</h6>
                  </div>
                  <div class="col s8 m8 l8">
                    <h6>IT hhjg | MBA | 15-20 LPA</h6>
                    <h6>Religion: Caste : Gotra</h6>
                    <h6>Never Married</h6>
                    <div class="row">
                      <div class="col s6 m6 l6">
                        <h6><i class="material-icons prefix">location_on</i>Gurgaon</h6>
                      </div>
                      <div style="text-align: center;" class="col s6 m6 l6">
                        <h6>Non Manglik</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div style="padding-right:0;" class="col s6 m6 l6">
                    <button class="center-align valign-wrapper" style="min-height: 35px; color:rgb(45, 136, 3); background-color: #fff; border:1px solid rgb(45, 136, 3)"><i class="material-icons prefix">call</i>Call</button>
                  </div>
                  <div style="padding-left:0;" class="col s6 m6 l6">
                    <button class="valign-wrapper" style="color:#fff; background-color: rgb(45, 136, 3)"><img style="width:30px; height:30px;" src="../../assets/w.png">Whatsapp</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-content">
                <div class="container">
                  <div style="margin-bottom: 0;" class="row">
                    <div class="col s4 l4 m4">
                      <img id="ProfilePic" style="margin-top: -50px; border:1px solid #F00E67;border-radius:50%;width:80%;height:80%;" src="https://www.sap.com/dam/application/shared/icons/blog-mr.png" class="img-fluid">
                      <h6><b>450XXX</b></h6>
                      <h6>IT hhjg | MBA | 15-20 LPA</h6>
                    </div>
                    <div class="col s8 m8 l8">
                      <h6>IT hhjg | MBA | 15-20 LPA</h6>
                      <h6>Religion: Caste : Gotra</h6>
                      <h6>Never Married</h6>
                      <div class="row">
                        <div class="col s6 m6 l6">
                          <h6><i class="material-icons prefix">location_on</i>Gurgaon</h6>
                        </div>
                        <div style="text-align: center;" class="col s6 m6 l6">
                          <h6>Non Manglik</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div style="padding-right:0;" class="col s6 m6 l6">
                      <button class="center-align valign-wrapper" style="min-height: 35px; color:rgb(45, 136, 3); background-color: #fff; border:1px solid rgb(45, 136, 3)"><i class="material-icons prefix">call</i>Call</button>
                    </div>
                    <div style="padding-left:0;" class="col s6 m6 l6">
                      <button class="valign-wrapper" style="color:#fff; background-color: rgb(45, 136, 3)"><img style="width:30px; height:30px;" src="../../assets/w.png">Whatsapp</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
