.section {
  min-height: 100vh;
  background: #fff;
  padding: 0;
}
.sidenav {
  height: 100%;
  width: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 102, 0.829);
  overflow-x: hidden;
  padding-top: 20px;
}

.logo {
  display: block;
  max-width: 165px;
  margin: 0 auto;
}
nav .nav-wrapper {
  background-color: #fff;
  color: rgba(255, 0, 102, 1);
}
.btn
 {
   background-color: rgba(255, 0, 102, 0.829);
   color: rgb(255, 255, 255);
   font-family: 'Heebo', sans-serif;
   font-weight: 200;
   width: 95px;
   margin: 0 5px 10px 5px;
   border-radius:36px;
   margin-bottom: 10px;
   margin-top: 10px;
 }
 .btn3 {
  background-color: #ED1868;
  color: rgb(255, 255, 255);
  padding: 15px 5px 5px 5px;
  font-family: 'Heebo', sans-serif;
  height: 66px;
  width: 330px;
  font-weight: 200;
  margin: 5px 5px 10px 5px;
  border-radius:36px;
   margin-top: 100px;
 }
 .btn2
 {
   background-color: rgba(255, 255, 255, 0.829);
   color: rgba(255, 0, 102, 0.829);
   font-family: 'Heebo', sans-serif;
   font-weight: 200;
   width: 60%;
   padding: none;
   padding-bottom:20px;
   margin: 0px 5px 10px 5px;
   border-radius:36px;
   font-size:18px;
   border: 2px solid rgba(255, 0, 102, 0.829);
   margin-bottom: 0;
 }
 .container-fluid {
  font-family: 'Heebo', sans-serif;
 }
 p {
   margin: 0.5em 0 0.5em 0;
   font-family: 'Heebo', sans-serif;
 }
 nav .brand-logo {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
 }
nav .sidenav-trigger{
   float: right;
   color: rgba(255, 0, 102, 1);
 }
 .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
   box-shadow: none;
 }
 h4 {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  color: #009bee;
 }

.Clients {
  padding: 20px 20px;
  background-color:#fff;
  box-shadow: 0 5px 10px #a3a3a3;
  margin: 50px 0px;
}
nav a.sidenav-trigger{
  display: block;
}
.sect {
  padding: 10% 0 10% 0;
}
i {
  color: rgba(255, 0, 102, 0.829);
}
footer {
  background-color: #f2f2f2;
   border: none;
   padding: 20px 0;
   font-family: 'PT Sans', sans-serif;
   font-size: 1.2rem;
 }
 .page-footer .footer-copyright {
   min-height: 10px;
   background-color: #f2f2f2;
 }
 .page-footer {
   padding-top:0px;
 }
 .foot-icon {
   margin:0 10px;
}
.headup {
  display: none;
  font-family: 'PT Sans', sans-serif;
}
.headdown {
  display: block;
  font-family: 'PT Sans', sans-serif;
}
.policyup {
  display: block;
}
.policydown {
  display: none;
}
.landing-image {
  background-color:#fff;
  background: url('../../assets/welcome.png') center center;
  -webkit-background-size:cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image{
  width: 80%;
}
.show {
  display: none;
}
@media(max-width: 600px){
  .con{
    text-align: center;
  }
  .image{
    width:80%;
    margin-bottom: 20px;
  }
  h4 {
    font-size:25px;
  }
  .show {
    display: block;
  }
  .show2{
    display: none;
  }
  .btn2{
    width: 220px;
  }
  .headup {
    display: block;
    margin-top:9px;
    margin-bottom:30px;
    font-family: 'PT Sans', sans-serif;
  }
  .headdown {
    display: none;
    font-family: 'PT Sans', sans-serif;
  }
  .policyup {
    display: none;
  }
  .policydown {
    display: block;
  }
}
