<style>
    .footer {
        position: fixed;
        z-index: 1;
        left: 0;
        bottom: 0;
        background-color:  rgba(255, 0, 102, 0.829);
        color: white;
        text-align: center;
        height: 100%;
width: 20px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
overflow-x: hidden;
padding-top: 20px;
    }
    </style>

    <div class="footer navbar-fixed">
      <p>Footer</p>
    </div>
<div class="section container-fluid">
    <style>
        .footer {
            position: fixed;
            z-index: 1;
            left: 0;
            bottom: 0;
            background-color:  rgba(255, 0, 102, 0.829);
            color: white;
            text-align: center;
            height: 100%;
  width: 20px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
        }
        </style>

        <div class="footer">

        </div>
  <!--<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="#!" class="brand-logo"> <img class="logo" src="../../assets/logo.png" alt="Logo"></a>
        <ul style="list-style: none !important" class="right">
          <li><a routerLink="/login" class="btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>-->
  <!--<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Work</a></li>
    <li><a href="badges.html">About us</a></li>
  </ul>-->
  <div class="landing-image container-fluid">
  <div class="container">
    <div class="sect row">
      <div class="headup" style="text-align: center; font-size: 100px;">
        <h2>Find Matches On Whatsapp</h2>
      </div>
      <div style="text-align: center;" class="col s12 m6 l6">
        <img class="image" src="../../assets/img1.png" alt="image1">
      </div>
      <div class="col s12 m6 l6">
        <div class="headdown" style="text-align: center;">
          <h4 style="font-size: 42px; font-weight: 400; font-family: sans-serif;">Find Matches On Whatsapp</h4>
        </div>
        <p style="font-size: 23px; font-family: Heebo; font-weight: lighter; color: #58585B;"> We revolutionizing the matching is done before. We send profiles directly on your whatsapp. For hassle free experience</p>
        <ul>
          <li><i style="font-size: 10px; color:#009bee" class="fas fa-circle"></i><span style="font-size: 20px; font-family: Heebo; font-weight: lighter; color: #58585B;"> &nbsp; Say no to now apps</span></li>
          <li><i style="font-size: 10px; color:#009bee" class="fas fa-circle"></i><span style="font-size: 20px; font-family: Heebo; font-weight: lighter; color: #58585B;">  &nbsp; Easy to use</span></li>
          <li><i style="font-size: 10px; color:#009bee" class="fas fa-circle"></i><span style="font-size: 20px; font-family: Heebo; font-weight: lighter; color: #58585B;">  &nbsp; No complicated apps</span></li>
        </ul>
        <div style="text-align: center;">
          <a routerLink="/register" class="btn btn-lg btn3" style=" font-size: 23px; font-family: Heebo; font-weight: bolder;">Register for Free</a>
          <p style="color: rgba(255, 0, 102, 1); font-family: sans-serif; font-size: 18px;">Already Have an account ? Login now</p>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="sect row">
        <div class="headup" style="text-align: center;">
            <h4>Matchmaking Got Personalised</h4>
          </div>
      <div style="margin-top: 20px; text-align: center;" class="show col s12 m6 l6">
        <img class="image" src="../../assets/Untitled-1.png" alt="image1">
      </div>
      <div class="col s12 m6 l6">
        <div class="headdown" style="text-align: center;">
          <h4>Matchmaking Got Personalised</h4>
        </div>
        <p>Exclusive involvement of our matchmaking expert who helps you find the best matches. Experience reinvented</p>
        <ul>
          <li><i style="font-size: 5px; color:#009bee" class="fas fa-circle"></i><span style="margin-left:15px;">Experts to understand you need</span></li>
          <li><i style="font-size: 5px; color:#009bee" class="fas fa-circle"></i><span style="margin-left:15px;">We communicate based on consent</span></li>
          <li><i style="font-size: 5px; color:#009bee" class="fas fa-circle"></i><span style="margin-left:15px;">Regular meeting to meet your requirements</span></li>
        </ul>
        <div style="text-align: center;">
          <br>
          <a href="" class="btn2 btn"><img style="width:20px;" src="../../assets/whatsapp.png"><span>Whatsapp Us</span></a>
        </div>
      </div>
      <div style="margin-top: 20px; text-align: center;" class="show2 col s12 m6 l6">
        <img class="image" src="../../assets/Untitled-1.png" alt="image1">
      </div>
    </div>
    <div class="sect row">
        <div class="headup" style="text-align: center;">
            <h4>Offline Tie-Ups</h4>
            <br>
          </div>
      <div style="text-align: center;" class="col s12 m6 l6">
        <img class="image" src="../../assets/Delhi-map-graphic.png" alt="image1">
      </div>
      <div class="col s12 m6 l6">
        <div class="headdown" style="text-align: center;">
          <h4>Offline Tie-Ups</h4>
        </div>
        <p> We have 20+ centers accross Delhi. You can reister there after meeting with our representative</p>
        <ul >
          <li><i style="font-size: 5px; color:#009bee" class="fas fa-circle"></i><span style="margin-left:15px;">Largest offline presences</span></li>
          <li><i style="font-size: 5px; color:#009bee" class="fas fa-circle"></i><span style="margin-left:15px;">Centraised Database</span></li>
          <li><i style="font-size: 5px; color:#009bee" class="fas fa-circle"></i><span style="margin-left:15px;">Elite Profiles</span></li>
        </ul>
        <p>To know more about our centers click here >></p>
      </div>
    </div>
    <div style="text-align: center;">
      <h4>Few Words From Our clients</h4>
      <div class="Clients">
        <img src="../../assets/Untitled-2.png" alt="">
        <p>We have 20+ centers accross Delhi. You can reister there after meeting with our representative</p>
      </div>
    </div>
  </div>

  <footer class="page-footer">
    <div class="container-fluid">
      <div class="row">
        <div style="padding: 0 50px;" class="col l8 s12">
          <h4 class="con" style="font-size: 42px; font-weight: 400;" >Contact</h4>
          <div style="font-size:16px; color: rgb(133, 133, 133);" class="row">
            <div class="valign-wrapper col s12 m6 l6">
              <p><i class="fa fa-envelope" style="font-size: 40px;"></i><span style="margin-left:10px; font-size: 20px;">matches@hansmatrimony.com</span></p>
            </div>
            <div class="col s12 m3 l3">
              <p><i class="fab fa-whatsapp fa-2x" style="font-size: 50px;"></i><span style="margin-left:10px; font-size: 20px;">+91-96-97-98-9697</span></p>
            </div>
            <div class="col s12 m3 l3">
              <p><i class="fa fa-phone" aria-hidden="true" style="font-size: 50px;"></i><span style="margin-left:10px; font-size: 20px;">+91-36-36-12-9631</span></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 pull-right">
          <h4 style="font-size: 42px; font-weight: 400;">Policy Info</h4>
          <ul>
            <li><a  style="color: rgb(133, 133, 133);"  href="#!">Privacy Policy</a></li>
            <li><a  style="color: rgb(133, 133, 133);" href="#!">Terms of use</a></li>
            <li><a  style="color: rgb(133, 133, 133);" href="#!">Cancellation & return</a></li>
            <li><a  style="color: rgb(133, 133, 133);" href="#!">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div style="text-align:center; margin-bottom: 25px;" class="text-center">
          <a class="foot-icon" href=""><i style="border-radius: 50%; color: #fff; width: 50px;height: 50px;padding-top: 10px;background-color: #009bee;" class="fab fa-youtube fa-2x"></i></a>
          <a class="foot-icon" href=""><i style="border-radius: 50%; color: #fff; width: 50px;height: 50px;padding-top: 10px;background-color: #009bee;" class="fab fa-twitter fa-2x"></i></a>
          <a class="foot-icon" href=""><i style="border-radius: 50%; color: #fff; width: 50px;height: 50px;padding-top: 10px;background-color: #009bee;" class="fab fa-facebook-f fa-2x"></i></a>
          <a class="foot-icon" href=""><i style="border-radius: 50%; color: #fff; width: 50px;height: 50px;padding-top: 10px;background-color: #009bee;" class="fab fa-instagram fa-2x"></i></a>
          <a class="foot-icon" href=""><i style="border-radius: 50%; color: #fff; width: 50px;height: 50px;padding-top: 10px;background-color: #009bee;" class="fab fa-google-plus-g fa-2x"></i></a>
        </div>
        <!--<div style="padding: 0 50px; text-align: center;" class="policydown col l12 s12">
          <br><br>
            <h4>Policy Info</h4>
            <ul>
              <li><a  style="color: rgb(133, 133, 133);"  href="#!">Privacy Policy</a></li>
              <li><a  style="color: rgb(133, 133, 133);" href="#!">Terms of use</a></li>
              <li><a  style="color: rgb(133, 133, 133);" href="#!">Cancellation & return</a></li>
              <li><a  style="color: rgb(133, 133, 133);" href="#!">FAQ</a></li>
            </ul>
          </div>-->
        <div style="color: rgb(133, 133, 133);" class="text-center">
          All rights reserved | 2018       </div>
      </div>
    </div>
  </footer>
</div>
