 <div id="con-out" class="container-fluid outer">
  <form id="regForm">
    <!-- One "tab" for eac col s12 m12 l12h step in the form: -->

    <div class="tab first_tab">
      <h3 style="padding-top:15vh" class="heading">Welcome <br>To <br>Hans matrimony</h3>
      <h3 class="sub-heading">Few steps away from <br>Free registration</h3>
      <div style="background-color: rgba(255, 0, 102, 0.829);position: absolute;left: 0;bottom: 0;width: 100%;">
        <br>
      </div>
    </div>

    <div class="tab">
      <nav>
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">PersonalDetails</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s12">
            <label>Create Profile for</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12">
            <label for="">Enter Full Name</label>
            <input oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s12 m12 l12">
            <label for="">Date of Birth</label>
            <input name="" id="" oninput="this.className = ''" type="text" class="datepicker">
          </div>
          <label style="margin-left:10px;">Gender</label>
          <br>
          <div class="input-field col s12 m12 l12">
            <label>
              <input name="group1" type="radio" checked/>
              <span>Male</span>
            </label>
          </div>
          <br><br>
          <div class="input-field col s12 m12 l12">
            <label>
              <input name="group1" type="radio"  />
              <span>Female</span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <div class="container">

        <div class="row">
          <div class="input-field col s6 m6 l6">
            <label>Height</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col m6 s6 l6">
            <br><br>
            <label for="">Weight(kg)</label>
            <input oninput="this.className = ''" type="number" value="">
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Religion</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Caste</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Gotra</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Maritial Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav>
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">More Info</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Country Living In</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Residental Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Mother Tongue</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Food choice</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <div class="container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Manglik status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label for="">Time of Birth</label>
            <input oninput="this.className = ''" type="text" class="timepicker">
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Birth Place</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Write About Yourself (min 100 words)</label>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav>
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">ProfilePicture</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div style="margin-top:5%;text-align:center;">
            <img id="ProfilePic" style="display: none;border-radius:75px;width:150px;height:150px;" [src]="imgUrl" class="img-fluid">
          </div>
          <div class="file-field input-field col s12 m12 l12">
            <label>Upload Profile Picture</label>
            <br><br><br>
            <div class="btn">
              <span>File</span>
              <input type="file" (change)="fileEvent($event)" id="filedata" name="filedata" required class="form-control-file"  ngModel>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" oninput="this.className = ''" type="text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav>
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">EducationalDetails</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Highest Education</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Under Graduation(Can be added later)</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Schooling (Can be added later)</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Other (if any)</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav>
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">CareerDetails</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Occupation</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Company Name (Can be added later)</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>City (Can be added later)</label>
            <select class="browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Annual income</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav style="background-color: #085C95" id="tab3">
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">FamilyDetails</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Father's Occupation</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Mother's Occupation</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Parent's Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Family Type</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav style="background-color: #085C95">
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">FamilyDetails</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <label>Brother(s)</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s6 m6 l6">
            <label>Married Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s6 m6 l6">
            <label>Sister(s)</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s6 m6 l6">
            <label>Married Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Locality/Address</label>
            <input oninput="this.className = ''" type="text">
          </div>
          <div class="input-field col s12 m12 l12">
            <label>House Type</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Annual Family income</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav style="background-color: #085C95">
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">Credentials</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s11 m11 l11">
            <label for="">Email</label>
            <input  oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s1 m1 l1">
             <p id="email_err" style="color: red; display: none;">Invalid</p>
            </div>
          <div class="input-field col s11 m11 l11">
            <label for="">Choose a password</label>
            <input oninput="this.className = ''" type="password" value="">
          </div>
          <div class="input-field col s1 m1 l1">
              <p id="pass_err" style="color: red; display: none;">Invalid</p>
             </div>
          <div class="input-field col s11 m11 l11">
            <label for="">Mobile Number*</label>
            <input oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s1 m1 l1">
              <p id="mob_err" style="color: red; display: none;">Invalid</p>
             </div>
          <div class="input-field col s11 m11 l11">
            <label for="">Whatsapp Number</label>
            <input oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s1 m1 l1">
              <p id="whatsapp_err" style="color: red; display: none;">Invalid</p>
             </div>
          <div class="input-field col s11 m11 l11">
            <label for="">Adhaar Number(Optional)</label>
            <input oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s1 m1 l1">
              <p id="adhar_err" style="color: red; display: none;">Invalid</p>
             </div>
        </div>
      </div>
    </div>

    <div class="tab">
      <nav style="background-color: #085C95">
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">Preference</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <label>Matital Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Manglik Status</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s7 m7 l7">
            <label for="">Caste</label>
            <input oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s5 m5 l5">
            <label>
              <input name="group3" type="radio" />
              <span>Open to all</span>
            </label>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Food Choice</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12 m12 l12">
            <label>Working/Non-Working</label>
            <select class="must browser-default">
              <option value="" disabled selected>Choose</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="tab">
      <nav style="background-color: #085C95">
        <div class="nav-wrapper">
          <a style="margin-left: 1%;" href="#!" class="brand-logo">Verification</a>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <h3 style="text-align: center; color:#009bee">Please Enter the OTM sent to **01</h3>
          <div class="col s2 m4 l4"></div>
          <div class="input-field col s2 m1 l1">
            <input style="background-color: rgb(157, 196, 255);border-radius:10px;" oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s2 m1 l1">
            <input style="background-color: rgb(157, 196, 255);border-radius:10px;" oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s2 m1 l1">
            <input style="background-color: rgb(157, 196, 255);border-radius:10px;" oninput="this.className = ''" type="text" value="">
          </div>
          <div class="input-field col s2 m1 l1">
            <input style="background-color: rgb(157, 196, 255);border-radius:10px;" oninput="this.className = ''" type="text" value="">
          </div>
          <div class="col s2 m4 l4"></div>
        </div>
        <div style="text-align: center;">

          <button class="verify btn-large waves-effect waves-light blue">Verify</button>
        </div>
      </div>
    </div>
    <div style="overflow:auto;">
      <div style="text-align: center;">
        <span class="error">Please fill field <br>to Proceed Further</span>
        <button type="button" class="prevBtn btn-floating btn-large waves-effect waves-light" (click)="nextPrev(-1);"><i style="margin-left:25%;font-size:2rem;" class="material-icons">arrow_backward</i></button>
        <button type="button" class="nextBtn btn-floating btn-large waves-effect waves-light" (click)="nextPrev(1);"><i class="material-icons">arrow_forward</i></button>
      </div>
    </div>
    <!-- Circles which indicates the steps of the form: -->
    <div style="display: none;text-align:center;margin-top:40px;">
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>
      <span style="display: none;" class="step"></span>

    </div>

  </form>
</div>
