/*.controls { position: fixed; padding: 1em; background-color: #fff; border-bottom: 2px solid rgba(0, 0, 0, .7); left: 800px;}

li.gfield {padding: 3vh 0 150vh 0;}

.container-fluid {
  background: linear-gradient(to bottom right, #DA4453, #89216B);
}
i {
  color:#DA4453;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  margin: 0 0 6vh 0;
}
label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}
input {
  color: #fff;
  font-size: 0.75rem;
}*/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #085C95;
  box-shadow: 0 1px 0 0 #085C95;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  border-bottom: 1px solid #085C95;
  box-shadow: 0 1px 0 0 #085C95;
}/*
h4 {
  color: #fff;
}
nav {
  background-color: #DA4453;
}
.row .col{
  padding: 0 0.75rem 0 0;
}
select {
  background-color: transparent;
  color:#9e9e9e;
  border: none;
  margin: 0 0 6vh 0;
  border-bottom: 1px solid #9e9e9e;
}
select:focus {
  outline: none;
}
.btn
 {
   background-color: rgba(255, 255, 255, 0.945);
   color: #F00E67;
   margin-top: 2%;
 }
 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
   background-color : #fff;
 }
 [type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after {
  border: 2px solid #fff;
 }
 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
   background-color: #fff;
 }
 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
   border: 2px solid #fff;
 }
 #regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
*/
/* Style the input fields */
label {
  color: #000;
  font-size: 1.2rem;
  font-weight: 200;
  font-family: 'Heebo', sans-serif;
}
textarea.materialize-textarea{
    background-color: rgb(255, 187, 198);
  height: 100px !important;
}
input {
  color: rgb(66, 66, 66);
  font-size: 0.75rem;
}
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #aaaaaa;
}
[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
  border: 1px solid #F00E67;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: #F00E67;
}
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after{
  border: 1px solid #F00E67;

}
/* Mark input boxes that gets an error on validation: */
input.invalid{
  background-color: #ffdddd;
}
select.invalid {
  background-color: #ffdddd;
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}
/* Hide all steps by default: */
.tab {
  display: none;
  height: 100vh;
}
.btn-large {
  background-color: #F00E67;
}
select {
  background-color: transparent;
  color:#000;
  font-family: 'PT sans' , sans-serif;
  border: none;
  margin: 6vh 0 0 0;
  border-bottom: 1px solid #000;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.heading {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  margin-top: 0;
  text-align: center;
  font-size: 3rem;
  color: #009bee;
 }
 .sub-heading {
  font-family: 'Heebo', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 2rem;
  color: #009bee;
 }
 i {
  color:#fff;
}
/*#formpage{
  background: linear-gradient(to bottom right,rgba(250, 250, 250, 0.95), rgba(255, 255, 255, 0.95)), url('../../assets/home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/* #tab1{
  min-height: 100vh;
  background: linear-gradient(to bottom right,rgba(250, 250, 250, 0.95), rgba(255, 255, 255, 0.95)), url('../../assets/home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
.btn {
  background-color: #F00E67;
}
.datepicker-date-display{
  background-color: #F00E67 !important;
}
.prevBtn {
  position: fixed;
  top:85vh;
  left:16%;
}
.nextBtn {
  position: fixed;
  top:85vh;
  left:86%;
}
.input-field {
  margin-bottom:0 !important;
}
.error{
  position: fixed;
  display: none;
  font-size: 0.8rem;
  top:90vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}
nav {
  background-color: #F00E67;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
  border-bottom: 1px solid #085C95;
  box-shadow: 0 1px 0 0 #085C95;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #085C95;
  box-shadow: 0 1px 0 0 #085C95;
}
.verify {
  color: #fff;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  width: 250px;
  margin: 0 5px 10px 5px;
  border-radius:36px;
  margin-bottom: 0;
}
.outer {
  background-color: #fff;
  background: url('../../assets/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.first_tab {
  background: url('../../assets/welcome.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
